<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <section class='pet'>
          <div class='summary'>
            <h2><%= pet[:name] %></h2>
            <p class="breed">Race:<%= pet[:race] %></p>
            <p class="breed">Breed:<%= pet[:breed] %></p>
            <p class="price">Price: <%= priceless(pet) %></p>
            <p class="description"><%= truncate(pet[:description], length:40, separator: ' ') %></p>
            <p><%= loveFetch(pet)%></p>
            <img class="image" src="<%= pet[:picUrl] %>" alt="<%= pet[:name] %>">
          </div>
        </section>
      </div>
    <% end %>
  </div>
</div>
