<div class="container">
  <div class="row">
    <% if @pets.any? %>
      <% @pets.each do |pet| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
        <section class='pet'>
          <div class='summary'>
            <h2><%= link_to(pet[:name], pet_path(pet)) %></h2>
            <img class="image" src="<%= pet[:picUrl] %>" alt="<%= pet[:name] %>">
            <p class="breed">Race:<%= pet[:race] %></p>
            <p class="breed">Breed:<%= pet[:breed] %></p>
            <p class="price">Price: <%= priceless(pet) %></p>
            <p class="description"><%= truncate(pet[:description], length:40, separator: ' ') %></p>
            <p><%= loveFetch(pet)%></p>
          </div>
          </section>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p>Nothing found, try your search again!</p>
        <%= link_to "Home", pets_path %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= paginate @pets %>
  </div>
</div>
<section class="admin">
  <%= link_to "Add New Pet", new_pet_path, class: "button" %>
</section>
